body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: #e8f5e9; /* Fond vert pâle */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

.login-container img {
    width: 120px;
    margin-bottom: 20px;
}

.login-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    background-color: #6db644;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #5ba537;
}
